@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html, body {
    font-family: 'Noto Sans', sans-serif !important;
    font-size:25px;
    line-height:1.5;
    box-sizing:border-box;
    margin:0;
    top:0;
    left:0;
    z-index: 3 !important;
}
a{
    text-decoration: none;
    color:rgba(34,54,69,.7);
    font-weight:500
}
#hover:hover {
    color: white !important;
}
.container-fluid{
    background-color:lightblue;
    padding-bottom:150px;
    padding-top:0px;
}
.navbar-expand-lg {
    padding-top:0 !important;
    padding-bottom:0 !important;
}
.card-title{
 text-align:center;
}
#cardId{
    max-width:500px;
    
}
.select-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:300px;
    gap:10px;
    z-index:1;
}
.form-select{
    z-index:1000;
}
#container{
    background-color:lightblue;
    width:100% ;
    margin:0 ;
    padding-left: 100px;
    padding-bottom:125px;
}
#info{
    padding-left:85px;
    padding-top:25px;
    max-width:20%;
}
#Heading{
 font-weight:bold;
 font-size:70px;
 padding-left:85px;
}

.containment{
    padding-top:100px;
    width:100%;
    display:grid;
    justify-content: center;
    margin-bottom: 20px;
    max-width:70%;
    margin: 0 auto;
    
}
#featured{
    font-weight:bold;
    margin-bottom:100px;
    text-align:center;
}

img{
    max-width: 300px;
    min-width: 75px;
}
.style-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 100%;
}
p.col{
    margin-bottom: 0;
    margin-top: 5px;
    padding-left:0;
    padding-top:15px;
    white-space: nowrap;
    font-size:15px;
}
div.col{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
i.col{
  margin-top:10px;
  padding-right:0px;
  padding-top:15px;
  padding-right:.5rem;
}
div.row{
    align-items:center;
}
.button-div{
    display:flex;
    justify-content: center;
    padding-top:15px;   
}
#currentCar{
    margin-left:auto;
    margin-right:auto;
    z-index: 2;
    max-width:100%;
    width:850px;
    height:auto;
    position:relative;
    top: -120px; 
}
.car-container{
    display:flex;
    justify-content: center;
    align-items:center;
}
.featuredcars{
    max-width:100%;
    height:auto;
    width:100%;
    max-height:300px;
}
.carouselp{
    text-align:center;
    justify-content: center;
    font-size:5vw;
}
#carouselExampleSlidesOnly{
    width: 500px;
    margin: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
    background-color:white;
}
.section-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:100px;
    padding-bottom:100px;
    background-color: rgb(219, 229, 238);
}
#name{
    text-align:left;
    font-size:7vw;
    padding-left:20px;
    font-weight:100%;
}
.carinfo{
    text-align:center;
    margin:0;
}
#image-carousel-container{
    display:Flex;
    flex-direction:row;
    align-items:center;
}
#image-carousel-container img{
    max-height:80px;
    max-width:60px;
    border:.25px solid black;
}
.checked{
    color:orange;
    padding-left:15px;
}
span.fa.fa-star{
    font-size:15px;
}
div.rating{
    height: 20px;
    display: flex;
    justify-content:left;
    align-items:center;
}
.about{
    text-align:center;
    padding-top:50px;
    padding-bottom:20px;
}
#icon{
    background-color:orange;
    color: white;
    padding:40px 20px;
    height:50px;
    margin-right:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    font-size:40px;
    width:80px;
    text-align:center;
    
}
#textHeader{
    padding-bottom:10px;
    font-weight:bold;
    
}
.textClass{
    
}
.aboutUs{
    max-width:2000px;
    margin:auto;
}
#underHeading{
    text-align:center;
}

/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    #Heading {
      font-size: 70px;
      padding-left:25px;
    }
    #name{
        font-size:2vw;
    }
    .carouselp{
        font-size:1.5vw;
        margin:0;
        position:relative;
        top:-40px;
    
    }
    #image-carousel-container img{
        max-height:100px;
        max-width:80px;
    }
    span.fa.fa-star{
        font-size:25px;
    }
  }
  /* If the screen size is smaller than 1200px, set the font-size to 80px */
  @media (max-width: 1199.98px) {
    #Heading {
      font-size: 40px;
      padding-left:0px;
      
    }
    #info{
        padding-left:0px;
        max-width:80%;
        
    }
    #container{
        display: flex;
        align-items: center;
        justify-content: center;
       flex-direction: column;
       padding-left:0px;
  }

}